<% layout(`layouts/boilerplate`) %>
<div class="container mt-4">
    <h1>Edit Post</h1>
    <form action="/posts/<%= post._id %>?_method=PUT" method="POST">
        <div class="form-group">
            <textarea name="postText" id="postText" rows="4" class="form-control"><%= post.postText %></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
        <a href="/" class="btn btn-primary">Go Back</a>
    </form>
</div>
